* {
    padding: 0px;
    margin: 0px;

}

.menu-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    color: white;
}

.company-logo {
    font-size: 30px;
    font-style: italic;
    margin-left: 20px;
}

.company-logo :hover {
    color: green;
    font-style: normal;
}

.menu-items {
    margin-right: 60px;
    display: flex;

}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 10;
    font-size: 18px;
}

.menu-items :hover {
    color: orangered;
    cursor: pointer;
}

/* home sytle is from here */

.home-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.left-home {
    padding-top: 170px;
    padding-left: 50px;
}

.home-image img {
    width: 90%;
    padding-left: 20px;
}

.home {
    display: flex;
    flex-wrap: nowrap;
}

.details1 {
    padding-bottom: 10px;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.details2 {
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
}

.learn-btn {
    margin-top: 15px;
    border: none;
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.learn-btn:hover {
    background-color: green;
    color: white;
    transition: .5s;
    cursor: pointer;
}


.title2 {
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
}


.package-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: -40px;
}

.package1 {
    width: 300px;
    border: 1px solid gray;
    margin-top: 0px;
    margin: 100px 50px;
    text-align: center;
    box-shadow: 0px 2px 10px gray;

}

.package1 img {
    padding-top: 20px;
    width: 60px;
}

.third-icon img {
    width: 100px;
}

.text {
    text-align: justify;
    padding: 10px 20px;
}

.link {
    text-decoration: none;
    margin-bottom: 10px;
}

.about-section {
    background-color: rgb(16, 15, 15);
    color: white;
    width: 100%;
}

.about-title {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.about-details {
    display: flex;
    justify-content: space-evenly;
}

.about-left {
    border-top: 1px solid red;
    width: 700px;
}

.about-img {
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
    padding-bottom: 30px;
}

.image1 img {
    width: 80%;
    transform: skewY(-15deg);
}

.image2 img {
    width: 80%;
    transform: skewY(-15deg);
}

.about-right {
    border-top: 1px solid yellow;
    width: 700px;
}

.right-descript {
    padding-top: 80px;
}

.heading {
    font-size: 43px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    padding-bottom: 20px;
    color: yellow;
}

.list-container {

    font-size: 18px;
    line-height: 1.5;
    list-style: square;
    padding-left: 20px;
}

.work-inquary-container {

    margin-top: 50px;
    color: white;
}

.wrk-inqry {
    width: 700px;
    margin: 0 auto;
    height: 200px;
    background-image: url("./images/shape/Group_33094_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    margin-bottom: 50px;

}

.btttn {
    padding: 5px 10px;
    background-color: whitesmoke;
    border: none;
    font-size: 16px;
    border-radius: 5px;

}


.heading2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.service1 {
    width: 300px;
    border: 10px;
    margin: 20px;
    box-shadow: 8px 8px 16px rgb(17, 16, 16);
    border-radius: 5px;
}

.service1 img {
    width: 100%;
    border-radius: 8px;

}

.service-description {
    padding-left: 10px;
    line-height: 1.5;
}

.price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 10px;
}

.join-btn {
    padding-right: 20px;
    padding-top: 15px;
    color: navy;
}

#arrow {
    padding-left: 4px;
}

.name {
    padding-top: 10px;
    font-size: 18px;
}

.servicies {
    display: flex;
    justify-content: center;

}

.batch-image {
    position: relative;
    width: 50px;
    left: 90%;
}

.batch-img {
    top: -30px;
    position: absolute;
}

footer {
    padding: 100px;
}

.footer h5 {
    margin-top: 50px;
    word-spacing: 25px;
    font-size: 14px;
    text-align: center;

}

.footer h5 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;

}

.footer h5 a:hover {
    color: red;
    text-decoration: underline;
}

.footer p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: black;
}

.footer p a {
    color: red;
    text-decoration: none;
}

.footer p a:hover {
    color: red;
    text-decoration: underline;

}